
.wms-ui-maincontainer{
    height:100% ;

}

.wms-ui-sidebar-container{
  background: linear-gradient(#2a1c5a, #4b3a6e);;
    width: 15em;
    left: 0;
    right: auto;
    border-right: 1px solid #eeeeee;
    top: 0;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: none;
    z-index: 1100;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    color: white;
    height: 100%;
   }

.wms-ui-sidebar-a {
    color: white;
    width: 100%;
    padding: 10px 8px;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: none;
    justify-content: flex-start;
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}

.wms-ui-sidebar-a:hover {
    background-color: #5a5079;
    color:white;
}
.active-a{
  background-color: #71698f;
  color:white;
}
.imageh{
    background-color:black;
    padding: 0% 12%;
    margin: 0%;
    margin-bottom: 20%;
  }
  .wms-header-logo{
    width: 150px;
    height: 62px;
    margin: 8% 15%;
  }
.sidebar-ul {
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}
.sidebar-li {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.wms-ui-sidebar-span {
  padding: 10px;
}

.sidebar-span {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}


.sidebar-icon-div {
  color: white;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.sidebar-inner-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  
}
.sidebar-item-expand-arrow {
  font-size: 1.2rem !important;
}

.sidebar-item-expand-arrow-expanded {
  color: #09bb12;
  font-weight: bold;
}

.sidebar-ul-sub{
  .wms-ui-sidebar-a{
    padding-left: 24px;
  }
}
.openSidebar{
  display: block !important;
}

.closeSidebar{
  display: none !important;
}

.wms-main{
    background-color: #e9eaef;
}

@media (min-width: 1280px)
{
.wms-ui-sidebar-container {
  height:100% ;
}
}
@media screen and (max-width: 600px) {

 
}

@media (min-width: 320px) and (max-width: 480px) {
  .wms-ui-sidebar-container {
      height:100% ;
  }
    .openSidebar{
      display: block !important;
    }
    
    .closeSidebar{
      display: none !important;
    }
}
